.Header{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    padding: 0px 10px;
    background: #075144;
    color: white;
    height: 45px;
}

.headText{
    display: flex;
    justify-content: center;
    align-items: center;
}